<p-toast></p-toast>
<section *ngIf="activityDetail">
  <mat-card>
    <div class="back-button">
      <button (click)="goBack()" mat-button color="warn">
        <mat-icon>keyboard_arrow_left</mat-icon>Back
      </button>
    </div>
    <mat-card-title>
      <h2 class="text-center font-semibold ms-3">Activity Detail</h2>
    </mat-card-title>
    <mat-card-content>
      <div class="block md:flex mb-5">
        <img
          class="mr-0 mt-5 md:mr-5"
          [src]="activityDetail?.image"
          [alt]="activityDetail?.name"
        />
        <div class="details ml-0 md:ml-5 pt-0 md:pt-5">
          <!-- Paper/Project -->
          <div
            *ngIf="
              activityDetail.type === 'project' ||
              activityDetail.type === 'paper'
            "
          >
            <h3 class="mt-5">
              Event Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Event Venue:
              <span>{{ activityDetail.location | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Event Mode: <span>{{ activityDetail.mode | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Prize: <span>{{ activityDetail.prize | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Event Date:
              <span>{{ activityDetail.endDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <!-- Club -->
          <div *ngIf="activityDetail.type === 'club'">
            <h3 class="mt-5">
              Club Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Position: <span>{{ activityDetail.position | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <!-- Vac -->
          <div *ngIf="activityDetail.type === 'vac'">
            <h3 class="mt-5">
              Course Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Course Platform:
              <span>{{ activityDetail.location | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Course Mode: <span>{{ activityDetail.mode | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Course Start Date:
              <span>{{ activityDetail.startDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Course End Date:
              <span>{{ activityDetail.endDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <!-- Gate -->
          <div *ngIf="activityDetail.type === 'gate'">
            <h3 class="mt-5">
              Subject Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Year: <span>{{ activityDetail.year }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <!-- Intern -->
          <div *ngIf="activityDetail.type === 'internship'">
            <h3 class="mt-5">
              Company Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Company Location:
              <span>{{ activityDetail.location | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Stipend: <span>{{ activityDetail.stipend }}</span>
            </h3>
            <br />
            <h3>
              Internship Start Date:
              <span>{{ activityDetail.startDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Internship End Date:
              <span>{{ activityDetail.endDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <!-- Placement -->
          <div *ngIf="activityDetail.type === 'placement'">
            <h3 class="mt-5">
              Company Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Company Location:
              <span>{{ activityDetail.location | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Placement Mode: <span>{{ activityDetail.mode | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Placed Date:
              <span>{{ activityDetail.endDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <!-- Other -->
          <div *ngIf="activityDetail.type === 'other'">
            <h3 class="mt-5">
              Activity Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Activity Location:
              <span>{{ activityDetail.location | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Activity Date:
              <span>{{ activityDetail.endDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <!-- Ncc -->
          <div *ngIf="activityDetail.type === 'ncc'">
            <h3 class="mt-5">
              Camp Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Camp Location:
              <span>{{ activityDetail.location | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Position in NCC:
              <span>{{ activityDetail.position | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Camp Begin Date:
              <span>{{ activityDetail.startDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Camp End Date:
              <span>{{ activityDetail.endDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <!-- Sports -->
          <div *ngIf="activityDetail.type === 'sports'">
            <h3 class="mt-5">
              Event Name:
              <span>{{ activityDetail.name | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Event Location:
              <span>{{ activityDetail.location | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Game Name:
              <span>{{ activityDetail.game | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Prize:
              <span>{{ activityDetail.prize | titlecase }}</span>
            </h3>
            <br />
            <h3>
              Event Begin Date:
              <span>{{ activityDetail.startDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Event End Date:
              <span>{{ activityDetail.endDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
            <h3>
              Mark:
              <span>{{ activityDetail.mark }}</span>
            </h3>
            <br />
            <h3>
              Uploaded Date:
              <span>{{ activityDetail.uploadedDate | date: "dd-MM-yy" }}</span>
            </h3>
            <br />
          </div>
          <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
          <div class="buttons" *ngIf="!isLoading">
            <button
              mat-flat-button
              (click)="editActivity()"
              color="primary"
              class="mt-0 md:mt-5 mr-2"
              pTooltip="Edit Details"
              tooltipPosition="bottom"
              *ngIf="activityDetail.isLocked === false"
            >
              Edit
            </button>
            <button
              mat-flat-button
              (click)="deleteActivity()"
              color="warn"
              class="mt-0 md:mt-5 mr-2"
              pTooltip="Delete Activity"
              tooltipPosition="bottom"
              *ngIf="activityDetail.isLocked === false"
            >
              Delete
            </button>
          </div>
          <h3 *ngIf="activityDetail.isLocked" class="locked font-semibold">
            [ This Activity is locked by admin, to edit or delete contact your
            Mentor! ]
          </h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
