<p-toast></p-toast>
<section>
  <div class="buttons mt-5" *ngIf="isAdmin">
    <div class="flex justify-content-end mr-5">
      <div class="button mr-3">
        <button mat-flat-button color="primary" (click)="addNewAdmin()">
          <mat-icon>add</mat-icon> Add Admin
        </button>
      </div>
      <div class="button mr-3">
        <button mat-flat-button color="accent" (click)="showAdmins()">
          <mat-icon>supervisor_account</mat-icon> Show All Admin
        </button>
      </div>
      <div class="button">
        <button mat-flat-button color="warn" (click)="addNewAdmin()">
          <mat-icon>insert_drive_file</mat-icon> Show All Marks
        </button>
      </div>
    </div>
  </div>
  <h1 *ngIf="isSutdentDetailAvailable" class="font-semibold text-center">
    No Students Registered Till Now!
  </h1>
  <div class="container">
    <mat-card
      class="example-card"
      *ngFor="let detail of studentDetail; index as i"
      (click)="onCardClick(detail._id)"
    >
      <mat-card-title *ngIf="errMsg">{{ errMsg }}</mat-card-title>
      <mat-card-title>{{ detail.rollno }}</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <h3>{{ detail.username }}</h3>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </div>
</section>
