<p-toast></p-toast>
<section>
  <div class="buttons mt-5" *ngIf="isAdmin">
    <div class="flex justify-content-end mr-5">
      <div class="button mr-3">
        <button mat-flat-button color="primary" (click)="addNewAdmin()">
          <mat-icon>add</mat-icon> Add Admin
        </button>
      </div>
      <div class="button mr-3">
        <button mat-flat-button color="accent" (click)="addNewAdmin()">
          <mat-icon>supervisor_account</mat-icon> Show All Admin
        </button>
      </div>
      <div class="button">
        <button mat-flat-button color="warn" (click)="addNewAdmin()">
          <mat-icon>insert_drive_file</mat-icon> Show All Marks
        </button>
      </div>
    </div>
  </div>
</section>
