<div class="close-icon mb-1" mat-dialog-actions>
  <button mat-icon-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
  </button>
</div>
<h2>Enter New Password</h2>
<form #form="ngForm">
  <div class="p-inputgroup input">
    <span class="p-inputgroup-addon"><i class="pi pi-eye"></i></span>
    <input
      type="password"
      pInputText
      name="password"
      ngModel
      placeholder="Enter new password"
      required
      minLength="6"
    />
  </div>
  <div class="button text-center mt-3">
    <button
      mat-raised-button
      [mat-dialog-close]="form.value.password"
      color="primary"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </div>
</form>
