<p-toast></p-toast>
<section>
  <mat-card>
    <h1 class="text-center">You Can Edit Your Details here!</h1>
    <h3 class="text-center">
      ( You need reupload your profile image for updating )
    </h3>
    <form [formGroup]="signupForm">
      <div class="grid">
        <div class="p-inputgroup col-12 mb-2">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input
            type="text"
            pInputText
            formControlName="username"
            placeholder="Username"
          />
        </div>
        <div class="p-inputgroup col-12 mb-2">
          <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
          <input
            type="email"
            pInputText
            formControlName="email"
            placeholder="Kongu Email"
            readonly
          />
        </div>
        <div class="p-inputgroup col-12 mb-2">
          <span class="p-inputgroup-addon"><i class="pi pi-eye"></i></span>
          <input
            type="password"
            pInputText
            formControlName="password"
            placeholder="New password"
          />
        </div>
        <div class="p-inputgroup col-12 mb-2">
          <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
          <input
            type="text"
            pInputText
            formControlName="rollno"
            placeholder="Roll No."
          />
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline">
            <mat-label>Choose Mentor</mat-label>
            <mat-select formControlName="mentor" required>
              <mat-option *ngFor="let mentor of mentors" [value]="mentor">
                {{ mentor }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <p-fileUpload
            mode="basic"
            name="demo"
            accept="image/*"
            maxFileSize="1500000"
            customUpload="true"
            (uploadHandler)="onUpload($event)"
            chooseLabel="Upload New Profile Picture"
            [auto]="true"
          >
          </p-fileUpload>
          <div class="mt-2">
            <img src="{{ imageDisplay }}" width="80" alt="Profile Picture" />
          </div>
        </div>
        <div class="col-12 md:col-6">
          <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
          <button
            pButton
            pRipple
            type="button"
            label="Submit"
            *ngIf="!isLoading"
            class="p-button-success mr-2"
            (click)="onSubmitSignupForm()"
            [disabled]="signupForm.invalid"
          ></button>
        </div>
      </div>
    </form>
  </mat-card>
</section>
