section {
  margin-top: 60px;
  mat-card {
    width: 460px;
    margin: auto;
    h1 {
      margin: 0;
      font-weight: 500;
    }
    h3 {
      font-weight: 500;
      color: red;
    }
    form {
      div {
        width: 93%;
        margin: auto;
      }
      mat-form-field {
        width: 100%;
      }
    }
  }

  @media (max-width: 500px){
    mat-card{
      width: 400px;
    }
  }

  @media (max-width: 420px){
    mat-card{
      width: 380px;
    }
  }

  @media (max-width: 390px){
    mat-card{
      width: 350px;
    }
  }

  @media (max-width: 360px){
    mat-card{
      width: 310px;
    }
  }
}
